ul.navbar li {
    display: inline;
}
 ul.navbar {
     list-style: none;
 }
 ul.navbar li a {
     font-family: Tahoma, Geneva, sans-serif;
     text-decoration: none;
     background: #5c6cb7;
     font-weight: bold;
     color: #ffaa00;
     padding: 6px 10px 6px 10px
 }